@import "./reset.css";

:root {
    --app-dark-bg:#1a1d28;
    --app-red:#ff3c57;
    --app-green:#33ab4e;
    --app-purple:#833cff;
    --app-orange:#ff833c;
    --app-pink:#f85fdc;
    --app-orange-hover:#fe7a2d;
    --app-blue:#3c57ff;
    --app-blue-hover:#364ee6;
}
    
body {
    background-color: #1c3754;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/**************************************************/
/*****       Main                            ******/
/**************************************************/
h1, h2, h3, a, p {
    color: rgb(244, 246, 248);
}

h2 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 25px;
}

p {
    margin-top: 20px;
    font-size: 17px;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    text-align: center;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 25px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    border-radius: 5px;
}

input:not([type="submit"]) {
    width: 100%;
    height: 45px;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    text-align: left;
}

input[type="button"] {
    height: 45px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    background-color: #2d4cee;
    color: #fff;
    margin-top: 20px;
    padding: 0 10px;
}

form input + input {
    margin-top: 20px;
}

input:focus {
    border: 1px solid rgba(255, 255, 255, .25);
}

